{% extends 'layout.html' %}
{% block title %}Auto permissions list{% endblock %}
{% block content %}
	<h1>Auto permissions list</h1>
	<nav>
		<a href="{{ url_for('accounts_manager.sync_auto_permissions') }}">Sync auto permissions</a>
		<a href="{{ url_for('accounts_manager.create_auto_permissions') }}">Create auto permissions</a>
	</nav>
	{% from 'users.jinja' import edit_user_link %}
	{% from 'permissions.jinja' import group_display, scope_display %}
	{% macro render_result(result) %}
		<tr>
			<td>
				<a 
					href="{{ url_for(
						'accounts_manager.auto_permissions_list',
						sort=pagination['sort'],
						order=pagination['order'],
						perpage=pagination['perpage'],
						id=result.id,
					) }}" 
					title="View auto permission in list">
					○
				</a>
			</td>
			<td data-timestamp="{{ result.creation_time }}">
				{{ result.creation_datetime.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}
			</td>
			<td>
				{% if result.created_by_user_id %}
					{% set created_by_user_id = result.created_by_user_id %}
				{% else %}
					{% set created_by_user_id = 'system' %}
				{% endif %}
				<a href="{{ url_for(
						'accounts_manager.auto_permissions_list',
						sort=pagination['sort'],
						order=pagination['order'],
						perpage=pagination['perpage'],
						created_by_user=created_by_user_id,
					) }}" 
					title="Search this user's created auto permissions">
					(Search)
				</a>
			</td>
			<td>
				{% if not result.created_by_user %}
					System
				{% else %}
					{{ edit_user_link(result.created_by_user) }}
				{% endif %}
			</td>
			<td>{{ '{} seconds'.format(result.duration) }}</td>
			<td>
				{% if not result.scope %}
					{% set scope = 'global' %}
				{% else %}
					{% set scope = result.scope %}
				{% endif %}
				<a href="{{ url_for(
						'accounts_manager.auto_permissions_list',
						sort=pagination['sort'],
						order=pagination['order'],
						perpage=pagination['perpage'],
						scope=scope,
					) }}" 
					title="Search auto permissions with this scope">
					{{ scope_display(result.scope) }}
				</a>
			</td>
			{% for group_name in g.accounts.available_groups %}
				{% if g.accounts.contains_all_bits(result.group_bits, g.accounts.group_name_to_bit(group_name)) %}
					<td class="checked">Yes</td>
				{% else %}
					<td></td>
				{% endif %}
			{% endfor %}
			<td>
				{% if result.user_id %}
					<a href="{{ url_for(
							'accounts_manager.auto_permissions_list',
							sort=pagination['sort'],
							order=pagination['order'],
							perpage=pagination['perpage'],
							user=result.user_id,
						) }}" 
						title="Search this user's auto permissions">
						(Search)
					</a>
				{% endif %}
			</td>
			<td>
				{% if result.user %}
					{{ edit_user_link(result.user) }}
				{% else %}
					Any
				{% endif %}
			</td>
			{% if result.valid_from_time and result.valid_until_time %}
				<td data-timestamp="{{ result.creation_time }}">
					{{ result.valid_until_datetime.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}
				</td>
				<td data-timestamp="{{ result.creation_time }}">
					{{ result.valid_until_datetime.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}
				</td>
				<td></td>
			{% else %}
				<td></td>
				<td></td>
				<td>
					<a 
						href="{{ url_for('accounts_signed_in.redeem_auto_permission', permission_code=result.id) }}" 
						title="Redeem auto permission">
						Redemption link
					</a>
				</td>
			{% endif %}
			<td>
				<a 
					href="{{ url_for(
						'accounts_manager.remove_auto_permission',
						auto_permission_id=result.id,
						redirect_uri=request.url,
					) }}" 
					title="Remove auto permission">
					Remove
				</a>
			</td>
		</tr>
	{% endmacro %}
	{% set scope_options = {'': 'Any', 'global': scope_display('')} %}
	{% for scope in g.accounts.available_scopes %}
		{% if scope %}
			{% set _temp = scope_options.update({scope: scope_display(scope)}) %}
		{% endif %}
	{% endfor %}
	{% set columns = [
		{
			'name': 'id',
			'label': 'ID',
			'sortable': False,
			'searchable': True,
			'type': 'text',
		},
		{
			'name': 'creation_time',
			'label': 'Created',
			'sortable': True,
			'searchable': True,
			'type': 'amount',
			'less_than_name': 'created_before',
			'less_than_label': 'Created before',
			'less_than_placeholder': 'Datetime string or timestamp',
			'greater_than_name': 'created_after',
			'greater_than_label': 'Created after',
			'greater_than_placeholder': 'Datetime string or timestamp',
		},
		{
			'name': 'search_created_by_user',
			'label': '',
			'sortable': False,
			'searchable': False,
		},
		{
			'name': 'created_by_user',
			'label': 'Created by user',
			'sortable': False,
			'searchable': True,
			'type': 'text',
			'placeholder': 'User ID',
		},
		{
			'name': 'duration',
			'label': 'Duration',
			'sortable': True,
			'searchable': True,
			'type': 'amount',
			'less_than_name': 'duration_shorter_than',
			'less_than_label': 'Duration shorter than',
			'less_than_placeholder': 'Duration (seconds)',
			'greater_than_name': 'duration_longer_than',
			'greater_than_label': 'Duration longer than',
			'greater_than_placeholder': 'Duration (seconds)',
		},
		{
			'name': 'scope',
			'label': 'Scope',
			'sortable': True,
			'searchable': True,
			'type': 'select',
			'options': scope_options,
		},
	] %}
	{% for group_name in g.accounts.available_groups %}
		{% set _temp = columns.append({
			'name': 'group_' + group_name,
			'label': group_display(group_name),
			'sortable': False,
			'searchable': True,
			'type': 'checkbox',
		}) %}
	{% endfor %}
	{% set _temp = columns.extend([
		{
			'name': 'search_user',
			'label': '',
			'sortable': False,
			'searchable': False,
		},
		{
			'name': 'user',
			'label': 'For user',
			'sortable': False,
			'searchable': True,
			'type': 'text',
			'placeholder': 'User ID',
		},
		{
			'name': 'valid_from',
			'label': 'Valid from',
			'sortable': True,
			'searchable': True,
			'type': 'text',
			'placeholder': 'Datetime string or timestamp',
		},
		{
			'name': 'valid_until',
			'label': 'Valid until',
			'sortable': True,
			'searchable': True,
			'type': 'text',
			'placeholder': 'Datetime string or timestamp',
		},
		{
			'name': 'redeem',
			'label': '',
			'sortable': False,
			'searchable': False,
		},
		{
			'name': 'remove',
			'label': '',
			'sortable': False,
			'searchable': False,
		}
	]) %}
	{% from 'tabular_list.jinja' import tabular_list %}
	{{ tabular_list(
		columns,
		'accounts_manager.permissions_list',
		results,
		total_results,
		render_result,
		total_pages,
		pagination,
		search,
	) }}
{% endblock %}
