{% extends 'layout.html' %}
{% block title %}Redeem permission{% endblock %}
{% block content %}
	<h1>Redeem permission</h1>
	{% if not auto_permission %}
		<form>
			<label for="permission_code">Permission code</label>
			<input id="permission_code" name="permission_code" type="text">
			<br>
			<input type="submit" value="Validate">
		</form>
	{% else %}
		{% from 'permissions.jinja' import scope_display, group_display %}
		<p>
			This code can be redeemed to add 
			<span>{{ auto_permission.duration }} seconds</span> 
			for scope 
			<strong>{{ scope_display(auto_permission.scope) }}</strong> 
			to the following groups:
		</p>
		<ul>
			{% for group_name in g.accounts.available_groups %}
				{% if g.accounts.contains_all_bits(
						auto_permission.group_bits,
						g.accounts.group_name_to_bit(group_name),
					) %}
					<td>{{ group_display(group_name) }}</td>
				{% endif %}
			{% endfor %}
		</ul>
		<form>
			<input name="confirm" type="hidden">
			<input name="permission_code" type="hidden" value="{{ auto_permission.id }}">
			<input type="submit" value="Redeem">
		</form>
	{% endif %}
{% endblock %}
