{% extends 'layout.html' %}
{% block title %}Register local account{% endblock %}
{% block content %}
	<h1>Register with local account</h1>
	{% for error in errors %}
		<p class="form_error">{{ error }}</p>
	{% endfor %}
	<form method="post">
		<label for="account_name">Account name</label>
		<input id="account_name" name="account_name" type="text" value="{{ account_name }}">
		<br>
		<label for="pass">Passphrase</label>
		<input id="pass" name="pass" type="password">
		<br>
		<label for="pass_confirmation">Confirm passphrase</label>
		<input id="pass_confirmation" name="pass_confirmation" type="password">
		<br>
		<input type="submit" value="Register">
	</form>
{% endblock %}
