{% extends 'layout.html' %}
{% block title %}Sign in{% endblock %}
{% block content %}
	<h1>Sign in services</h1>
	{% from 'authentications.jinja' import service_display %}
	<div class="authentication_services">
		{% for service in g.accounts.enabled_services %}
			<p>
				{% if invite %}
					<a 
						class="authentication_service" 
						data-service="{{ service}}" 
						href="{{ url_for(endpoint, service=service, invite=invite) }}">
				{% else %}
					<a 
						class="authentication_service" 
						data-service="{{ service}}" 
						href="{{ url_for(endpoint, service=service) }}">
				{% endif %}
					{{ 'Sign in with {}'.format(service_display(service)) }}
				</a>
			</p>
		{% endfor %}
	</div>
{% endblock %}
