{% if 0 < g.accounts.config['authentication_services'].items()|length %}
	<div class="user_authentications">
		<h1>Authentications</h1>
		{% from 'authentications.jinja' import service_display %}
		<div class="authentication_services">
			{% for service, enabled in g.accounts.config['authentication_services'].items() %}
				{% if enabled or service in user.authentications %}
					<p>
						{% if service in user.authentications %}
							<a 
								class="authentication_service disconnect" 
								href="{{ url_for('accounts_signed_in.remove_authentication', service=service) }}" 
								title="{{ 'Click to disconnect your {}'.format(service_display(service)) }}" 
								data-service="{{ service }}">
								{{ '{} connected'.format(service_display(service)) }}
								<br>
								<small>Click to disconnect</small>
							</a>
						{% else %}
							<a 
								class="authentication_service connect" 
								href="{{ url_for('accounts_signed_in.add_authentication', service=service) }}" 
								title="{{ 'Click to connect your {}'.format(service_display(service)) }}" 
								data-service="{{ service }}">
								{{ 'Connect {}'.format(service_display(service)) }}
							</a>
						{% endif %}
					</p>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}
